# force redirect to https
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# activate HSTS with 6 month duration time
Header set Strict-Transport-Security "max-age=15768000", includeSubDomains; preload

# upgrade insecure requests
Header set Content-Security-Policy "upgrade-insecure-requests;"
